@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
@import url('http://fonts.googleapis.com/earlyaccess/kopubbatang.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

ul,
li {
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.5rem;
    color: #666666;
    line-height: 1.65;
    letter-spacing: 0;
    font-weight: 400;
}

/* 공통사항 */
.container {
    position: relative;
    display: block;
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.wrap {
    position: relative;
    display: block;
}

/* header */
.header {
    position: fixed;
    display: block;
    width: 100%;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0);
    margin: 2rem 0;
    z-index: 999999;
}

.header .container {
    position: relative;
    display: block;
    height: 100%;
}

.logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

.logo img {
    width: 4rem;
    height: 4rem;
}

.gnb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu-icon {
    display: none;
}

.depth1>li {
    position: relative;
    display: inline;
    vertical-align: center;
}

.depth1>li>a {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #666666;
    text-align: center;
    margin: 0 3rem;
}
.menu-icon-gnb {
    display: none;
}


/* main visual */
.visual {
    position: relative;
    width: 100%;
    height: 95rem;
    display: block;
    overflow: hidden;
    background: url('../images/visual1.jpg') no-repeat center;

    filter: grayscale(100%);
    background-size: cover;
}

.visual .container {
    position: relative;
    display: block;
    height: 100%;
    /* background-color: blue; */

}

.visual .container::before {
    content: 'JO EUL BI PORFOLIO';
    position: absolute;
    /* color: rgba(224 ,224, 224, 1); */
    color: #fff;
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
    right: -7.5rem;
    bottom: 35rem;
    display: block;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(90deg);
}

.visual .container::after {
    content: '';
    position: absolute;
    right: 3.3rem;
    bottom: 0rem;
    display: block;
    width: 2px;
    height: 220px;
    /* background-color: rgba(224 ,224, 224, 1); */
    background-color: #fff;
    ;
}

/* 반응형 1024px */

@media screen and (max-width:1024px) {
    .container {
        width: 80%;
    }
    .visual {
        height: 70rem;
    }
    .depth1>li>a {
        font-size: 1.6rem;
    }
    .visual .container::before {
        font-size: 1.2rem;
        right: -5.2rem;
        bottom: 29rem;
    }
    .visual .container::after {
        width: 1px;
        height: 18.5rem;
    }
}  

@media screen and (max-width:768px) {
    .black-bg {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.4);
        z-index: 6;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }
    .black-bg-show {
        opacity: 1;
        visibility: visible;
    }
    .logo img {
        width: 3.5rem;
        height: 3.5rem;
    }
    .gnb {
        display: none;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        width: 1.5rem;
        height: 1.5rem;
        font-size: 0;
        background: url('../images/close.png') no-repeat center / contain;
        margin: 3rem 3rem 0 0;
        display: block;
        z-index: 3;
    }
    .menu-icon {
        position: absolute;
        right: 0;
        top: 50%;
        width: 3.5rem;
        height: 3.5rem;
        font-size: 0;
        transform: translateY(-50%);
        background: url('../images/open-kakao01.png') no-repeat center / contain;
    }
    .menu-icon,
    .menu-icon-gnb {
        display: block;
    }
    .menu-icon-gnb {
        position: absolute;
        top: 0;
        right: -35%;
        width: 35%;
        height: 100vh;
        font-size: 1.7rem;
        padding: 8rem 2rem 0 2rem;
        margin-top: -2rem;
        border-left: 2px solid #e0e0e0;
        background-color: #fff;
        transition: 0.5s;
    }
    .gnb-show {
        right: 0;
    }
    .menu-icon-gnb-depth1 >li{
        line-height: 8rem;
        border-bottom: 2px solid #e0e0e0;
        padding-left: 1.5rem;
    }
    .menu-icon-gnb-depth1 >li:last-child {
        border-bottom: none;
    }
    .menu-icon-gnb-depth1 >li >a {
        color: #666666;
    }
}
